
<link rel="stylesheet" type="text/css" href="./styles/four_in_a_row.css" />

<div class="centerx">
  <div id="four_in_a_row_container">
    <table id="four_in_a_row_grid" cellspacing=5 cellpadding=0></table>
    <div id="four_in_a_row_start"></div>
  </div>
</div>

<script type="text/javascript" src="./js/four_in_a_row.js"></script>
