<!DOCTYPE html>
<html>
  <head>
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- < include ./timer.ejs > -->
    <!-- we don't want the timer right now, we are testing simon -->
    <!-- Move the two lines from the timer.js file to wherever we input the above line -->

    <%- include ./simon.ejs %>
    
  </body>
</html>



