<!DOCTYPE html>
<html>
  <head>
      <link href="/fonts/digital.fontdesc" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="./styles/modules.css" />

      <script src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- < include ./timer.ejs > -->
    <!-- put this back when you want the timer-->
    <!-- Move the two lines from the timer.js file to wherever we input the above line -->

    <!-- < include ./simon.ejs %> -->
    <!-- put this back when you want simon-->

    <%- include ./four_in_a_row.ejs %>

    <!-- < include ./share.ejs > -->

    
  </body>
  <script src="path/to/sharer.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sharer.js@latest/sharer.min.js"></script>
</html>



