<!-- This will need modules.css linked to it -->

<div class="share_button_container">
    <button class="share_button" id="share_facebook" data-sharer="facebook" data-hashtag="hashtag" data-url="https://ellisonleao.github.io/sharer.js/">Share on Facebook</button>
</div>