<link href="./styles/digital.css" rel="stylesheet">
<link rel="stylesheet" href="./styles/simon.css">


<div class="simon_container">
  <div class="simon_button" id="simon_top_left"></div>
  <div class="simon_button" id="simon_top_right"></div>
  <div class="simon_button" id="simon_bottom_left"></div>
  <div class="simon_button" id="simon_bottom_right"></div>
  <div class="simon_center">
    <div id="simon_points">0000</div>
    <div id="simon_start_button"></div>
  </div>
</div>

<script src="../js/simon.js"></script>
