<link rel="stylesheet" href="./styles/timer.css">

<div id="timer_container" class="timer_container">
  <div class="timer_blade">
    
  </div>
</div>

<script src="../js/timer.js"></script>
