body {
  background-color: rgb(29, 29, 29);
}

/* This contains the simon game container */
.simon_container {
  position: relative;
  width: 55em;
}

/* This is the middle that contains the start button, points, and title */
.simon_center {
  align-items: center;
  background-color: rgb(221, 221, 221);
  border: 1em solid #505050;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  height: 15em;
  /* justify-content: center; */
  left: 18.5em;
  position: absolute;
  top: 18.5em;
  width: 15em;
  z-index: 1;
}

.simon_button {
  display: inline-block;
  height: 25em;
  width: 25em;
  transition: all 0.2s;
  background-repeat: no-repeat;
  background-size: 60%;
  border: 1em solid #505050;
}

.simon_button_lit {
  filter: brightness(135%) saturate(135%);
}

/* These are the colored sections */

#simon_top_left {
  background-color: #0b680b;
  background-image: url('/img/luke.png');
  background-position-x: 65%;
  background-position-y: 65%;
  border-top-left-radius: 9999999em;
}

#simon_top_right {
  background-color: #a41313;
  background-image: url('/img/trooper.png');
  background-position-x: 35%;
  background-position-y: 65%;
  border-top-right-radius: 9999999em;
}

#simon_bottom_left {
  background-color: #bcbc36;
  background-image: url('/img/vader.png');
  background-position-x: 65%;
  background-position-y: 35%;
  border-bottom-left-radius: 9999999em;
}

#simon_bottom_right {
  background-color: #184f9e;
  background-image: url('/img/leia.png');
  background-position-x: 35%;
  background-position-y: 35%;
  border-bottom-right-radius: 9999999em;
}

/* These are for the center of the game */


#simon_start_button {
  background-color: #aa9c9c;
  border-radius: 2.5em;
  color: rgb(29, 29, 29);
  cursor: pointer;
  font-family: monospace;
  background-image: url(/img/play.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0.3em;
  width: 7em;
  height: 7em;
  transition: 1s;
  background-position-x: 0.3em;
}

#simon_start_button:hover {
  background-color: #868686;
}

#simon_points {
  color: rgb(131, 1, 1);
  font-family: 'digital';
  font-size: 4em;
  margin-top: 0.5em;
}